body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.section-area{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
 .black-transparent-bg{
   background: rgba(0,0,0,0.7);
   padding: 14.2% 0;
   margin-top: -14.2%;
   display: block;
   min-height: 500px;
 }
}

.first-section-dark-bg{
  color: #FFF !important;
  background: url('../images/project1.jpg') no-repeat center scroll;
  background-size: cover;
 text-align: center;
  min-height: 500px;
  padding: 14.2% 0 0;

  h1{
    font-size: 90px;
    font-weight:800;
    margin-bottom: 40px;
  }

  p{
    font-size: 30px;
    margin-bottom: 30px;
  }
}


.featured-three-section{
  padding: 7% 0;
  text-align: center;

  .glyphicon {
    font-size: 65px;
    color: #9da9fb;
  }
  .btn {
    padding: 13px 23px;
    font-size: 20px;
    font-weight: 600;

  }

  h3{
    font-size: 35px;
    font-weight:800;
  }

  p{
    font-size: 20px;
  }
}

.showcase-area{
  background: #eee;
  padding: 40px 0;
  text-align: center;

  .showcase-header-area{
    margin:3% 0 5%;

    h2{
      font-size: 40px;
      font-weight:700;
    }

  }


  .thumbnail{
    img{
      padding: 0 !important;
      min-width:100%;
    }
    .caption{
      h4{
        font-weight:600;
      }
      p{
        font-size: 16px;
        margin-top: 15px;
      }
      .btn{
        margin: 12px 0;

      }

    }
  }
}

.call-to-action-section {
  margin: 0;
  padding: 10% 0;
  background: url("../images/project1.jpg") no-repeat center scroll;
  background-size: cover;
  height: 300px;
  text-align: center;

  h2{
    margin: -20px 0 0;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px #eee;
    padding: 20px;
    background: rgba(255, 193, 7, 0.61);
    border: 1px dashed #fff;
  }
}

.contact-about-area{
  margin: 8% 0;

  .footer-link{
    margin: 0;
    padding:0;

    li{
      margin: 10px 0;
      display: block;
      list-style: none;
      a{
        text-decoration: none;
        padding:0 3px 0;
        color: #fb8296;
        font-size: 16px;
        font-weight:500;

        &:hover{
          color: #fff;
          background: #fb8296;
        }
      }
    }
  }
}

.footer-area{
  color: #FFFFFF;
  background: #000;
  font-size:14px;
  padding:3% 0 2%;

  a{
    color: #fff;
  }

}